body {
    padding: 0;
    margin: 0;
    background: linear-gradient(#a7a7a771, #00000060),
    url('bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-custom {
    background-image: url(bg.jpg);
    font-size: 20px;
    letter-spacing: 2px;
}

.footer {
    color: rgba(240, 240, 240, 0.705);
}